.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/**home style**/

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.main {
  align-items: center;
  font-weight: bold;
  color: white;
  margin: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
  cursor: pointer;
}

a {
  color: rgba(0, 0, 0, 0.925);
}

.nav-list a:hover {
  opacity: 0.6;
  transition: 0.3s;
}

/**counter style**/
.counter-container {
  display: block;
  padding: 40px;
  margin: 10px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.increment {
  display: flex;
  border: 1px solid black;
  border-radius: 9px;
  padding: 15px;
  margin: 3px;
  background-color: blue;
  color: white;
  width: 10rem;
  cursor: pointer;
}

.decrement {
  display: flex;
  border: 1px solid black;
  border-radius: 9px;
  padding: 15px;
  margin: 3px;
  background-color: blue;
  color: white;
  width: 10rem;
  cursor: pointer;
}

.reset {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 9px;
  color: white;
  cursor: pointer;
}

.inc {
  display: block;
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px;
  margin: 3px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.dec {
  display: block;
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px;
  margin: 3px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.back {
  margin-top: 25rem;
  padding: 10px;
}
